#dashboard{
    
    #searchTextBox {
        display: inline-block;
        margin-right: 2px;
        margin-right: 80px;

    }
    
    #refreshListBtn {
        display: inline-block;
    }
    
    #refreshListBtn>input {
        margin-right: 80px;
         border: solid 0.2em orange;
         background-color: deeppink;
    }
    
    #refreshListBtn>input:hover {
        border: solid 0.2em greenyellow;
        background-color: red;
    }

    #addUserBtn {
        display: inline-block;
        float: right;
        margin-right: 55px;
        margin-top: 0px;
    }

}