#dashboard{
    
    #searchTextBox {
        display: inline-block;
        margin-right: 2px;
    }
    
    #refreshListBtn {
        display: inline-block;
    }
    
    #refreshListBtn>input {
         border: solid 0.2em orange;
         background-color: deeppink;
    }
    
    #refreshListBtn>input:hover {
        border: solid 0.2em greenyellow;
        background-color: red;
    }

 
    
    #addUserBtn {
        display: inline-block;
        float: right;
        margin-right: 24px;
    }
}