div.task {
    position: relative;
    border: solid 2px purple;
    margin: 1px auto;
    width: 99%;
    padding-bottom: 2em;

    &>input {
        position: absolute;
        right: 10%;
        bottom: 10%;
        background-color: lightsalmon;
    }
}

.taskData {
    position: relative;
    display: inline-block;
}

.hideTsk {
    visibility: hidden;
}

.hideBtn {
    visibility: hidden;
}