.taskDiv {
    position: relative;
    border: solid 2px purple;
    // border: solid 2px brown;
    margin: 1px auto;
    width: 99%;
    height: 7em;
}

.taskData {
    position: relative;
    display: inline-block;
}

.taskDiv>input {
    position: absolute;
    right: 10%;
    bottom: 10%;
    background-color: lightsalmon;
}

.hideTsk {
    visibility: hidden;
}

.hideBtn {
    visibility: hidden;
    /* background-color: lightsalmon;
    transform: translate(130%, 400%); */
}