#mainPage {
    display: inline-table;
    width: 100%;
    border-spacing: 0.8em;
}

input[type=button] {
    cursor: pointer;

    &.adding {
        background-color: orange;

        &:hover{
            background-color: orangered;
        }
    }
}
#left-column {
    display: table-cell;
    width: 50%;
}

#mainUserList {
    position: relative;
    padding: 1%;
    border: solid 1px black;
    border-radius: 50px;
}

#tasksAndPostsDiv {
    position: relative;
    display: table-cell;
    margin: 1%;
    width: 50%;
}

.addBorder {
    border: solid 1px black;
}